body { margin:0; font-family: Arial; background:#0f172a; color:white; }
.header{ background:#111827; padding:15px; text-align:center; font-size:22px; font-weight:bold; color:gold;}
.container{padding:20px;}
.card{background:#1e293b; padding:20px; margin-bottom:15px; border-radius:12px; box-shadow:0 4px 8px rgba(0,0,0,0.3);}
.btn{display:block; width:100%; padding:14px; text-align:center; background:gold; color:black; text-decoration:none; border-radius:10px; font-weight:bold; margin-top:10px;}
.btn-vip{background:#fbbf24; color:black;}
input, button{width:100%; padding:12px; margin-top:10px; border-radius:6px; border:none; font-size:16px;}
