body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

.header {
    background-color: #111827;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #00ffcc;
}

.container {
    padding: 15px;
}

.card {
    background-color: #1e293b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    background-color: #00ffcc;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-vip {
    background-color: gold;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}
