body { margin:0; font-family: Arial; background:#0f172a; color:white; }
.header{ background:#111827; padding:15px; text-align:center; font-size:20px; color:#00ffcc;}
.container{padding:15px;}
.card{background:#1e293b;padding:15px;margin-bottom:15px;border-radius:10px;}
.btn{display:block;width:100%;padding:12px;text-align:center;background:#00ffcc;color:black;text-decoration:none;border-radius:8px;margin-top:10px;}
.btn-vip{background:gold;}
input,button{width:100%;padding:12px;margin-top:10px;border-radius:6px;border:none;}
