body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 40px;
}

a {
  display: inline-block;
  padding: 12px 20px;
  margin: 10px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}
