<!DOCTYPE html>
<html>
<head>
<title>Solo Prediction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="header">🔥 SOLO PREDICTION</div>
<div class="container">
<div class="card"><h3>Free Tips</h3><a href="/free" class="btn">Open Free Tips</a></div>
<div class="card"><h3>VIP Match</h3><a href="/vip" class="btn btn-vip">Access VIP</a></div>
<div class="card"><h3>Community</h3>
<a href="https://wa.me/2349018025267" class="btn">WhatsApp</a>
<a href="https://t.me/daily_correct_score1" class="btn">Telegram</a>
</div>
</div>
</body>
</html>
