<!DOCTYPE html>
<html>
<head>
    <title>SOLO PREDICTION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="title">SOLO PREDICTION</div>

    <a href="/free" class="card">
        <span class="icon">🆓</span>
        Free Tips
    </a>

    <a href="/subscribe" class="card">
        <span class="icon">🔒</span>
        VIP Match
    </a>

    <a href="https://t.me/YOUR_TELEGRAM" class="card">
        <span class="icon">📢</span>
        Telegram Channel
    </a>

    <a href="https://wa.me/2349018025267" class="card">
        <span class="icon">💬</span>
        WhatsApp Chat
    </a>

</div>

</body>
</html>
